div {
    background-color: yellow;
    width: 500px;
    height: 10px;
    border: 1px black solid;
    animation-name: Anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes Anime{
    0% {
        width: 0px;
    }

    10% {
        position: relative;
        margin-left: 100px; 
        width: 10%;
    }

    20% {
        position: relative;
        margin-right: 100px; 
        width: 20%;
        transition: 5s;
    }

    30% {
        position: relative;
        margin-left: 100px; 
        transform: rotate(180deg);
        width: 40%;
    }

    40% {
        position: relative;
        margin-right: 100px; 
        transform: rotate(180deg);
        width: 40%;
    }
}


#anotherdiv{
    background-color: gold;
    position: relative;
    display: flex;
    margin-top: 100px;
    font-size: 100px;
}