


.text1 {
    background-image: url(jewelerry.avif);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 800px;
}

button:hover {
    background-color: skyblue;
    color: White;
    font-family:url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
    letter-spacing: 3px;
    font-size: 30px;
    transition: 1s;
}

.text2 {
    background-image: url(images\ \(3\).jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 300px;
}

img {
    justify-content: center;
    align-items: center;
}